@info-text: #245269;
@info-background: #245269;
@info-borders: #bce8f1;

@error-text: #603939;
@error-background: #f0d8d8;
@error-borders: #e9c6c6;

@warning-text: #512d0d;
@warning-background: #f7f6d9;
@warning-borders: #f1e6bc;
