@info-text: #245269;
@info-background: #245269;
@info-borders: #bce8f1;

@error-text: #603939;
@error-background: #f0d8d8;
@error-borders: #e9c6c6;

@warning-text: #512d0d;
@warning-background: #f7f6d9;
@warning-borders: #f1e6bc;

@main-background: #ffffff;
@dark-gray: #cecece;
@gray: #efefef;
@light-gray: #fafafa;

@rating-a-background: #36b242;
@rating-a-text: #fff;

@rating-b-background: #73b236;
@rating-b-text: #fff;

@rating-c-background: #e1d849;
@rating-c-text: #fff;

@rating-d-background: #e18949;
@rating-d-text: #fff;

@rating-e-background: #e14949;
@rating-e-text: #fff;
