<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <title>Markdown Syntax</title>
        
        <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,500,300,600,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="../assets/css/main.css">
    </head>
    <body>

		<table>
		<tr>
		    <th>Auszeichnung</th>
		    <th>Code Beispiel</th>
		    <th>Ausgabe</th>
		</tr>
		<tr>
		    <td>Fett</td>
		    <td class="code">Etwas soll **fett** hevorgehoben werden.</td>
		    <td>Etwas soll <strong>fett</strong> hevorgehoben werden.</td>
		</tr>
		<tr>
		    <td>Kursiv</td>
		    <td class="code">Etwas soll *kursiv* hevorgehoben werden.</td>
		    <td>Etwas soll <i>kursiv</i> hevorgehoben werden.</td>
		</tr>
        <tr>
            <td>Unterstrichen</td>
            <td class="code">Etwas soll _unterstrichen_ hevorgehoben werden.</td>
            <td>Etwas soll <u>unterstrichen</u> hevorgehoben werden.</td>
        </tr>
        <tr>
            <td>Durchgestrichen</td>
            <td class="code">Etwas soll -durchgestrichen- hevorgehoben werden.</td>
            <td>Etwas soll <strike>durchgestrichen</strike> hevorgehoben werden.</td>
        </tr>
		<tr>
		    <td>Überschriften</td>
		    <td class="code">
			    # Dies ist ein H1<br />
	            <br />
				## Dies ist ein H2<br />
			    <br />
				###### Dies ist ein H6
			</td>
			<td>
                <h1>Dies ist ein H1</h1>
                
                <h2>Dies ist ein H2</h2>

                <h6>Dies ist ein H6</h6>
			</td>
		</tr>
        <tr>
            <td>unsortierte Listen</td>
            <td class="code">
            Etwas soll aufgelistet werden:<br />
            * Apfel<br />
            * Birne<br />
            * Kirsche<br />
            </td>
            <td>
                Etwas soll aufgelistet werden:
                <ul>
                    <li>Apfel</li>
                    <li>Birne</li>
                    <li>Kirsche</li>
                </ul>
            </td>
        </tr>
        <tr>
            <td>sortierte Listen</td>
            <td class="code">
            Etwas soll sortiert aufgelistet werden:<br />
            1. Apfel<br />
            2. Birne<br />
            3. Kirsche<br />
            </td>
            <td>
                Etwas soll sortiert aufgelistet werden:
                <ol>
                    <li>Apfel</li>
                    <li>Birne</li>
                    <li>Kirsche</li>
                </ol>
            </td>
        </tr>
		</table>
		
		<a href="http://markdown.de/">Zur Offiziellen Markdown Dokumentation</a>

    </body>
</html>